.tddimg, .tddimghover-Purple, .tddimghover-line, .tdaimg, .tdaAnimate{
    transition: all 150ms ease-in-out;
  }
  .tddimg:hover .tddimghover-Purple{
  fill: #E2E6F8;
  
  rx: 2px;
  stroke: #E2E6F8;
  }
  .tddimg:hover .tddimghover-PurpleBG{
    fill: #BEC7EC;
  
    rx: 0px;
    stroke: #000;
    }
  .tddimg:hover .tddimghover-line{
    opacity: 0;
  }
  .tddimg:hover .tddimghover-PurpleSide{
    y: 120.5
  }
  .tddimg:hover .tddimghover-darkPurple{
    fill: #43506A;
  }

  /* TD Audiences */

  .tdaimg:hover .tdAudiences-FormBG{
  fill: #fff;
  rx: 2px;
  x: 10.5;
  stroke: #fff;
  }
  .tdaimg:hover .tdAudiences-header{
    fill: #E2E6F8;
    rx: 2px;
    stroke: #E2E6F8;
    }
  .tdaimg:hover .tdAudiences-SMall{
    opacity: 0;
  }
  .tdaimg:hover .tdAudiences-ASM{
    y: 120.5;
    x:360.5;
    fill: #E2E6F8;
    stroke:#E2E6F8;
    width: 70px;
    height: 79px;
    rx: 2px;

  }
  .tdaimg:hover .TDA-ASM2{
    fill: #fff;
    stroke: #fff;
    y: 209.5;
    x:360.5;
    rx: 2px;
    opacity: 1!important;
    height: 31px;
    width: 70px;
  }
  .tdaimg:hover .tdAudiences-BG{
    fill: #BEC7EC;
 
  }

  .tdaimg:hover .TDA1{
    fill: #43506A;
    stroke: #43506A;
    opacity: 1!important;
    rx: 2px;
    x:21.5;
    y:130.5;
    width:318px;
    height:91px;
  }
  .tdaimg:hover .TDA2{
    fill: #BEC7EC;
    stroke: #BEC7EC;
    opacity: 1!important;
    rx: 2px;
    x:21.5;
    y:231.5;
    width:318px;
    height:91px;
  }
  .tdaimg:hover .TDA3{
    fill: #E2E6F8;
    stroke: #E2E6F8;;
    opacity: 1!important;
    rx: 2px;
    x:21.5;
    y:332.5;
    width:318px;
    height:91px;
  }