:root {
  --bg: #eddbc7;
  --primary: #f75534;
  --secondary: #f5ad09;
  --third: #325769;
  --fourth: #fba2c2;
  --black: #160b09;
  --white: #fcfafd;
  --grad1: linear-gradient(
      122.01deg,
      rgba(181, 195, 205, 0.2475) 0%,
      rgba(179, 191, 185, 0) 100%
    ),
    radial-gradient(
      49.34% 50% at 100% 0%,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(98, 116, 178, 0) 100%
    ),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(246, 217, 163, 0.0495) 29.17%,
      rgba(127, 76, 65, 0.2475) 100%
    ),
    radial-gradient(
      68.46% 100% at 0% 100%,
      rgba(70, 81, 121, 0.5) 0%,
      rgba(132, 153, 219, 0.075) 100%
    ),
    #ffffff;
  --grad2: linear-gradient(
      237.99deg,
      rgba(241, 223, 240, 0.33) 0%,
      rgba(228, 109, 130, 0) 100%,
      rgba(228, 109, 109, 0) 100%
    ),
    radial-gradient(
      50% 126.31% at 100% 0%,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      90deg,
      rgba(216, 216, 216, 0) 0%,
      rgba(131, 153, 149, 0.5) 100%
    ),
    radial-gradient(
      100% 175.25% at 0% 0%,
      rgba(40, 0, 154, 0.21) 0%,
      rgba(211, 193, 193, 0.075) 100%
    ),
    #f5f5f5;
  --grad3: linear-gradient(
      122.01deg,
      rgba(241, 232, 223, 0.33) 0%,
      rgba(228, 216, 109, 0) 100%
    ),
    radial-gradient(
      50% 126.31% at 100% 0%,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      90deg,
      rgba(216, 216, 216, 0) 0%,
      rgba(131, 153, 153, 0.5) 100%
    ),
    radial-gradient(
      68.46% 100% at 50% 0%,
      rgba(154, 0, 0, 0.2475) 0%,
      rgba(211, 196, 193, 0) 100%
    ),
    #f5f5f5;
    --grad4: radial-gradient(100% 226.77% at 100% 0%, rgba(247, 85, 52, 0.62) 0%, rgba(0, 48, 154, 0.63) 30.26%, rgba(0, 48, 154, 0) 100%), linear-gradient(360deg, #DFF1DF 0%, rgba(109, 228, 149, 0) 100%), radial-gradient(50% 126.31% at 100% 0%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(90deg, rgba(216, 216, 216, 0) 0%, #8D8399 100%), radial-gradient(34.23% 50% at 50% 50%, rgba(31, 0, 154, 0.35) 0%, rgba(198, 193, 211, 0) 100%);
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 9em !important;
    letter-spacing: -11.5px !important;
  }
  h1.Carter {
    top: -4.77vh;
  }
  div.box {
    width: calc(100vw - 3.5px);
    z-index: 9999;
    height: 340px;
  }
  div.nav {
    flex-direction: row;
    z-index: 99999;
    grid-column: 1/13;
    top: 0px;
    padding: 16px;
  }
  .nav > ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  li > a {
    font-size: 1.2em;
    color: var(--black);
  }
  .linav:hover {
    transform: translate(0%, 33%) scale(1.33) !important;
  }

  div.name {
    grid-column-end: 7;
    align-self: center;
    justify-self: center;
    position: relative;
    top: -348px;
    right: auto;
    left: auto;
  }
  h2 {
    font-size: 1.7em !important;
  }
  h5 {
    font-size: 1em !important;
  }
  p {
    font-size: 14px !important;
  }

  /* ul.work {
    grid-template-columns: repeat(1, 1fr) !important;
  } */
  div.w-header {
    margin: 16px;
    grid-column: 1/13 !important;
    font-size: 1.75em !important;
  }
  div.line-3 {
    width: 100%;
  }
  div.orb {
    grid-column: 1/13;
    left: auto;
    right: auto;
    margin: auto;
    height: 80vw;
    width: 80vw;
    top: -120px;
    bottom: 48px;
  }
  .w {
    font-size: var(--font-s);
  }
  li.w-li {
    margin: 16px;
  }
}

@media all and (max-width: 1320px) and (min-width: 769px) {
  .w-t,
  .w-0 {
    font-size: var(--font-default) !important;
    line-height: 142% !important;
    opacity: 1;

}
  }
  .w-header {
    margin-right: 46px;
    grid-column: 1/11 !important;
    font-size: 3em !important;
  }
  .w {
    font-size: var(--font-s)!important;
  }
  div.line-3 {
    width: 92.5vw;
  }
  .work {
    grid-gap: 32px;
  }
  /* ul.work {
    grid-template-columns: repeat(2, 1fr) !important;
  } */
  p {
    font-size: 0.8em;
  }
}

.grain,
.grain2 {
  z-index: 4;
  mix-blend-mode: soft-light;
  opacity: 0.225;
}
.grain {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-image: url(/imgs/Grain1.png);
  object-fit: contain;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.grain2 {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-image: url(/imgs/Grain2.png);
  object-fit: contain;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.grain3 {
  transform: rotate(180deg);
}

.body {
  background-color: var(--bg);
}

.container {
  grid-column: 2/8;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 24px;
  width: 100%;
  height: auto;

  position: relative;
  background: none;
  max-width: 1398px;
  overflow-x: hidden;
  grid-auto-flow: row;
}
.scrollName {
  position: absolute;
  left: -15px;
  bottom: 54px;
  text-transform: uppercase;
  transform: rotate(90deg);
  z-index: 14;
  color: var(--black);
  mix-blend-mode: normal;
}
.prmary {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: absolute;
  max-width: 100vw;
  width: 100vw;
  height: auto;
  background: var(--bg);
}




.prmary2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 496px));
  position: relative;
  grid-column-gap: 24px;
  max-width: 1440px;
  width: 100vw;
  height: auto;
  background: var(--bg);
  padding: 24px;
  outline: 1px solid var(--black);
}
.sideGrid{
  display: flex;
  justify-content: center;
  width: 100vw;
  height:auto;
  position: absolute;
}
.sideRight, .sideLeft{
  width:auto;
position: relative;
}
.CSUL{
 
}


.box, .opacityBG {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  grid-column-start: 1;
  grid-column-end: 8;
  position: sticky;
  top: -1px;
  left: -20vw;
  height: 441px;
  width: 100%;
  background-color: var(--primary);
  border: 1px solid var(--black);
  z-index: 200;
  transition: all 600ms ease-in-out;
  opacity:.97;
  grid-row: 1;
}
.spacer {
  padding-top: 188px;
  display: inline;
  position: relative;
  grid-column: 1/13;
}
.spacerCS{
  padding-top: 188px;
  display: inline;
  position: relative;
  grid-column: 1/4;
}
.spacerCS-m{
  padding-top: 96px;
  display: inline;
  position: relative;
  grid-column: 1/4;
}

.spacer-s {
  padding-top: 48px;
  display: inline;
  position: relative;
  grid-column: 1/13;
}
.spacerCS-s{
  padding-top: 48px;
  display: inline;
  position: relative;
  grid-column: 1/4;
}
.spacer-xs {
  padding-top: 24px;
  display: inline;
  position: relative;
  grid-column: 1/13;
}
.spacerCS-xs{
  padding-top: 24px;
  display: inline;
  position: relative;
  grid-column: 1/4;
}
.spacer-xxs {
  padding-top: 12px;
  display: inline;
  position: relative;
  grid-column: 1/13;
}
.spacerCS-xxs{
  padding-top: 12px;
  display: inline;
  position: relative;
  grid-column: 1/4;
}
/* -- */
/* Yellow Orb */
/* -- */

.orb {
  position: relative;
  background: var(--secondary);
  height: 22vw;
  width: 22vw;
  border-radius: 100%;
  z-index: 300;
  border: 1px solid var(--black);
  grid-column-start: 9;
  grid-column-end: 13;
}

.rightHalf {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 50%;
  height: 100%;
  border-top-right-radius: 600px;
  border-bottom-right-radius: 600px;
  transform-origin: 0% 50%;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 600ms ease-in-out;
}

.gradientOrb {
  background: radial-gradient(
      88.23% 41.58% at 50% 5.25%,
      rgba(247, 85, 52, 0.72) 0%,
      rgba(245, 173, 9, 0) 100%
    ),
    linear-gradient(
      225deg,
      rgba(246, 174, 10, 0.6) 18.96%,
      rgba(105, 55, 56, 0) 115.04%
    ),
    radial-gradient(
      233.83% 116.92% at -38.5% 0%,
      rgba(105, 55, 56, 0) 0%,
      rgba(105, 55, 56, 0.85) 64.27%,
      rgba(105, 55, 56, 0) 100%
    ),
    linear-gradient(
      135deg,
      rgba(245, 173, 9, 0.25) 33.33%,
      rgba(105, 55, 56, 0.35) 90.6%
    ),
    linear-gradient(141.79deg, #f5dca4 -20.68%, rgba(255, 177, 0, 0) 80.52%),
    #f5ad09;
}
.brownHalf {
  z-index: 62;
  margin-right: 1px;
  background: linear-gradient(45deg, #2f2626, #693738);
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.yellowHalf {
  z-index: 63;
  margin-right: 1px;
  background: var(--secondary);
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.orb:hover .yellowHalf {
  transform: translate3d(0px, 0px, 0px) scale3d(0, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

.orb:hover .brownHalf {
  transform: translate3d(0px, 0px, 0px) scale3d(0.3, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

.orb:hover ~ .box {
  background-color: #f5ad09;
}
/* -- */
/* cursor */
/* -- */

.cursor {
  width: 24px;
  height: 24px;
  border: 1px solid var(--black);
  border-radius: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 150ms ease;
  transition-property: background-color, opacity, transform, mix-blend-mode;
  z-index: 9999;
  mix-blend-mode: normal;
}

.cursor--hidden {
  opacity: 0;
}

.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(1.25);
  background-color: #fefefe;
  mix-blend-mode: difference;
}

.cursor--clicked {
  transform: translate(-50%, -50%) scale(0.9);
  background-color: #fefefe;
}

html,
body {
  cursor: none;
}

html *,
body * {
  cursor: none;
}

/* Nav */
.linav {
  padding: 0.8vw;
  text-align: right;
  transition: all 250ms ease;
}

.nav {
  position: sticky;
  display: flex;
  width: auto;
  height: auto;
  right: 32px;
  grid-column-end: 9;
  z-index: 999;
  grid-column: 13/10;
  top: 24px;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
}
.uxd {
  grid-column: 2/9;
}

/* Work header */
.w-header {
  margin-right: 24px;
  grid-column: 1/5;
  font-size: 4.25vw;
}
.line-f {
  grid-column: 1/5;
  height: 1px;
  background-color: var(--black);
  margin-bottom: 24px;
  margin-top: 12px;
}
.line-0 {
  grid-column: 1/5;
  height: 1px;
  background-color: var(--black);
  margin-bottom: 24px;
  margin-top: 12px;
}
.line-3 {
  grid-column: 1/13;
  width: 100%;
  height: 1px;
}
.w-h-spacer {
  grid-column: 5/13;
}

/* work */
ul.work {
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: space-between;
  margin-top: 48px;
  grid-gap: 48px;
}

.w-li {
  top: 24px;
  z-index:  400;
}

/* gradients */
.blue {
  background: var(--grad4);
  opacity: 1;
  z-index: 99999;
}

.red {
  background: var(--grad2);
  opacity: 0;
  transform: rotate(180deg);
  z-index: 99998;
}

.green {
  background: var(--grad3);
  mix-blend-mode: color;
  opacity: 0;
  transform: rotate(-180deg);
  z-index: 99997;
}

.blue,
.red,
.green {
  flex-basis: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 110%;
  height: 110%;
  mix-blend-mode: overlay;
}

.casestudy{
  position: absolute;
  opacity: 1;
  margin: auto;
  transition: all 350ms ease-in-out;
  background-color: white;
  border: 1px solid #160b09!important;
  padding: 12px;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.casestudy:hover{
  background-color: var(--fourth);
}
.csRoles{
  position: relative;
  padding: 12px;
  /* grid-gap: 64px;
  display: flex;
  flex-direction: column;
  flex-shrink: initial;
  justify-content: flex-start;
  align-content: flex-start; */
}

/* img hovers */
.imghover:hover .casestudy{
opacity:1;
}

.WorkHeader{
  margin-bottom: -24px;
}


/* images */
.sideBySideimgContainer{
  margin-left: -36px;
  margin-right: -36px;
  width: calc(100% + 72px);
  height:auto;

  grid-column: 1/4;
  padding:0;
  z-index: 99;
  display: flex
}

.sideBySideimg{
  max-width: 50%;
}
img.imgCaseStudy-SideBySide{
  height: 100%;
  object-fit: cover;
  width: calc(100%);
  border: 1px solid var(--black);
}
.headerForImages{
  height:auto;
  width:100%;
  border: 1px solid var(--black);
  border-bottom: 0px;
  background-color: var(--bg);
}
.crcl{
width: 8px;
height: 8px;
position: relative;
top: 1px;
left: 1px;
margin: 2px;
border-radius: 50%;
border: 1px solid var(--black);
display: inline-block;

}
.crcl-d{
  background-color: var(--black);
}