:root {
  --font-default: 18px;
  --font-s: 16px;
  --font-l: 20px;
  --font-xl: 24px;
  --font-line-height: 28px;
}

@media (min-width: 1400px) {
  :root {
    --font-default: 19px;
    --font-s: 17px;
    --font-l: 24px;
    --font-xl: 32px;
    --font-line-height: 30px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  z-index: 99;
}
h1,
h2 {
  margin-block: 0em !important;
  line-height: 100%;
  font-weight: 900;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--black);
}

h1 {
  font-size: 6vw;
  font-family: "Grifo", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: background-color 1000ms cubic-bezier(1, -0.02, 0.83, 0.985);
  font-size: 42.8vh;
  font-weight: 900;
  letter-spacing: -23.5px;
  text-decoration: none;
  white-space: break-spaces;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  font-size: 6vw;
  align-self: flex-end;
  line-height: 100%;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  grid-column: 2/13;
}
h2.h2CaseStudy{
  font-size: var(--font-l);
  line-height: 100%;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  grid-column: 1/4;
}

h5 {
  /* font-size: 1vw; */
  font-size: var(--font-l);
  color: var(--primary);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  align-self: flex-end;
  padding-bottom: 5px;
  text-overflow: ellipsis;

  opacity: 1;
  text-transform: uppercase;
}
h5.h5CaseStudy{
  font-size: var(--font-xs);
  align-self: auto;
  grid-column: 1/4;
  padding: 16px 0px 8px 0px;
}

h6 {
  /* font-size: 1vw; */
  font-size: var(--font-s);
  color: var(--primary);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  align-self: flex-end;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  mix-blend-mode: overlay;
  opacity: 1;
  text-transform: uppercase;
}

p {
  /* font-size: 0.79vw; */
  font-size: var(--font-default);
  color: var(--black);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  line-height: 160%;
}
.w-0 {
  /* margin-top: -24px; */
  display: flex;
  align-items: center;
  justify-content: start;
}

a {
  text-decoration: none;
  color: var(--primary);
  padding-bottom: 4.2vw;
  /* font-size: 1vw; */
  font-size: var(--font-default);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  text-align: right;
  text-transform: uppercase;
  transition: all 150ms ease;
}
a.readMore {
  text-transform: none;
  font-size: var(--font-s);
  padding: 4px;
  outline: var(--black) solid 1px;
  margin-left: 1px;
  justify-self: start;
}

a > p {
  text-transform: none;
  /* margin-bottom: 24px; */

  text-align: left;
}
/* a > p.ww {
  margin-top: -32px !important;
} */

a.caseStudyLink{
color: #325769;
text-decoration: wavy underline;
text-transform: none;
}

p.pCaseStudy{
  grid-column: 1/4;
  margin-bottom: 24px;
  font-weight: 400;
  line-height: var(--font-line-height);
}
/* .linav:hover {
  transform: translate(-33%, 0%) scale(1.33);
} */
.name {
  grid-column-end: 8;
  position: relative;
  top: -17vh;
  right: -14.2vw;
  z-index: 9999;
}
.Jason {
  position: relative;
  font-size: 42.8vh;
  line-height: 54%;
}
.Carter {
  font-size: 42.8vh;
  top: -11.77vh;
  left: 4.2vw;
  position: relative;
}
.CSTitle {

  grid-column: 1/4;
  position: relative;
  font-size: 8vw;
  line-height: 154%;
  letter-spacing: -7.5px;
}
.CSsubTitle {
  grid-column: 1/4;
  position: relative;
  font-size: var(--font-default);

  margin-bottom: -43px;
}
/* .uxd:hover {
  font-family: "Flow";
  font-weight: 500;
  border: 1.5px var(--black) solid;
  top: -20px;
} */

.w {
  /* font-size: 0.7vw; */
  font-size: var(--font-s);
  color: var(--black);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  align-self: flex-end;
  mix-blend-mode: overlay;
  opacity: 1;
  text-transform: uppercase;
  margin-bottom: -6px;
}


li.liCaseStudy{
  font-size: var(--font-s);
  line-height: 120%;
  padding: 4px 0px;
  color: var(--black);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/InterBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/InterMed.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular-slnt=0.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/InterThin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Grenze";
  src: url("../fonts/Grenze-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Flow";
  src: url("../fonts/Flow-Circular.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Grifo";
  src: url("../fonts/GrifoLBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* Cyberpunk */
.cyb:hover {
  color: #000;
  text-shadow: none;
  animation: CyberPunk 3s 1;
}
@keyframes CyberPunk {
  0% {
    color: #da75e3;
    text-shadow: 0px 4px 60px #da75e3;
  }
  12% {
    color: #da75e3;
    text-shadow: 0px 4px 80px #da75e3;
  }
  13% {
    color: #da75e3;
    text-shadow: 0px 4px 40px #da75e3;
  }
  16% {
    color: #000;
    text-shadow: none;
  }
  17% {
    color: #da75e3;
    text-shadow: 0px 4px 80px #da75e3;
  }
  21% {
    color: #da75e3;
    text-shadow: 0px 4px 60px #da75e3;
  }
  22% {
    color: #000;
    text-shadow: none;
  }
  32% {
    color: #75dce3;
    text-shadow: 0px 4px 60px #75dce3;
  }
  35% {
    color: #75dce3b0;
    text-shadow: 0px 4px 10px #75dce3;
  }
  42% {
    color: #75dce3;
    text-shadow: 0px 4px 60px #75dce3;
  }
  62% {
    color: #75dce3;
    text-shadow: 0px 4px 60px #75dce3;
  }
  63% {
    color: #fffd8e;
    text-shadow: 0px 4px 60px #fffd8e;
  }
  100% {
    color: #75dce3;
    text-shadow: 0px 4px 60px #75dce3;
  }
}
