h1,
h2,
h3,
h4,
h5,
h6,
p {
  z-index: 99;
}
h1,
h2 {
  margin-block: 0em !important;
  line-height: 100%;
  font-weight: 900;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--black);
}

h1 {
  font-size: 6vw;
  font-family: "Grifo", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: background-color 1000ms cubic-bezier(1, -0.02, 0.83, 0.985);
  font-size: 42.8vh;
  font-weight: 900;
  letter-spacing: -23.5px;
  text-decoration: none;
  white-space: break-spaces;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  font-size: 6vw;
  align-self: flex-end;
  line-height: 100%;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  grid-column: 2/13;
}

h5 {
  font-size: 1vw;
  color: var(--primary);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  align-self: flex-end;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  mix-blend-mode: overlay;
  opacity: 1;
  text-transform: uppercase;
}

h6 {
  font-size: 1vw;
  color: var(--primary);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  align-self: flex-end;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  mix-blend-mode: overlay;
  opacity: 1;
  text-transform: uppercase;
}

p {
  font-size: 0.75vw;
  color: var(--black);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  line-height: 134%;
}

a {
  text-decoration: none;
  color: var(--primary);
  padding-bottom: 4.2vw;
  font-size: 1vw;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  text-align: right;
  text-transform: uppercase;
  transition: all 150ms ease;
}
.linav:hover {
  transform: translate(-33%, 0%) scale(1.33);
}
.name {
  grid-column-end: 8;
  position: relative;
  top: -17vh;
  right: -14.2vw;
  z-index: 9999;
}
.Jason {
  position: relative;
  font-size: 42.8vh;
  line-height: 54%;
}
.Carter {
  font-size: 42.8vh;
  top: -11.77vh;
  left: 4.2vw;
  position: relative;
}

.uxd:hover {
  font-family: "Flow";
  font-weight: 500;
  border: 1.5px var(--black) solid;
  top: -20px;
}

.w {
  font-size: 0.7vw;
  color: var(--black);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  align-self: flex-end;
  mix-blend-mode: overlay;
  opacity: 1;
  text-transform: uppercase;
  margin-bottom: -6px;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/InterBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/InterMed.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/InterThin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Grenze";
  src: url("../fonts/Grenze-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Flow";
  src: url("../fonts/Flow-Circular.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Grifo";
  src: url("../fonts/GrifoLBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@media all and (min-width: 769px) {
  h1.jason {
    color: red;
  }
}
